<!DOCTYPE html>
<html>
    <head>
      {{>header}}
    </head>
    <body>
      <div>
        <form>
          <input placeholder='Location'>
          <button>Search</button>
        </form>
      </div>
      <p id ="one-p"></p>
      <p id="two-p"></p>
       <script src="/js/app.js"></script>
    </body>
</html>